<div *ngIf="user">

  <p style="color: blue">Вы вошли как : {{user}} </p>
  <p (click)="logOut()" routerLink="/login" style="color: red">Выйти</p>
  <button class="btn-primary" (click)="toggleAdd = !toggleAdd;">add room</button>
  <div *ngIf="toggleAdd == true">
    <input [(ngModel)]="nameRoom" type="text" placeholder="имя комнаты">
    <button (click)="addRoom()" class="btn-primary">Creat Room</button>
  </div>
  <p>Rooms list:</p>
  <div *ngIf="toggleList == false">
    <app-room (getRoom)="onGetRoom($event)" (removeRoom)="onRemoveRoom($event)" [myRoom]="room" *ngFor="let room of rooms"> </app-room>
  </div>
  <div *ngIf="toggleWin == true">
    <div *ngFor="let name of names">
      <div class="card">
        Название комнаты:{{name}}
        <p style="color: red" (click)="onLeavRoom()">Leav room</p>
        <div *ngFor="let state of states">
          <p>  {{user}} writes...  </p>
        </div>
        <div class="card-body">
          <div *ngFor="let message of messages">
            <p class="card-text"> {{user}} : {{message}}
              <span style="margin-left: 59px;"> {{dateCurrent}} </span>
            </p>
          </div>
          <div class="input-group mb-3">
            <input (ngModelChange)="checkWrite()" [(ngModel)]="message" type="text" class="form-control" placeholder="Ваше сообщение..." aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)="writeMessage()" class="btn btn-outline-secondary" type="button" id="button-addon2">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="user == null">
  <span>
    Чтобы видеть и заходить в комнаты,
    <p style="color: blue" routerLink="/login"> Авторизируйтесь</p>
  </span>
</div>